<p class="text-center">directive works!</p>
<h4>hide show</h4>
<button class="btn btn-danger" (click)="changes()">{{data?"hide":"show"}}</button>
<p *ngIf="data">
    right now we have discuss about some topic on human sychology
</p>
<h4>two data show</h4>
<!-- <div class="mt-3">
    <button class="btn btn-primary" (click)="change()">{{check ?"show content":"show name"}}</button>
  <p *ngIf="check; then show; else hide"></p>
  <ng-template #show>
    <p>my name is sagar</p>
  </ng-template>
  <ng-template #hide>
    <p>
      i have no intrestr to write any topic but whenever flow is start i have
      been write more contain
    </p>
  </ng-template>
</div> -->
