<p>table works!</p>
<div class="mt-3">
  <div class="row">
    <div class="col-md-4">
      <form (ngSubmit)="onSubmit()" #myFrom="ngForm">
        <div>
          <input placeholder="name" ngModel name="name" required  />
        </div>
        <div class="mt-3">
          <input
            placeholder="password"
            ngModel
            type="password"
            name="password"
            required
          />
        </div>
        <button
          class="mt-3 btn btn-secondary"
          style="margin-left: 50px"
          [disabled]="!myFrom.valid"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <div class="card" *ngIf="toggle">
        <h3 class="text-center">Form Data</h3>
        <p>
          user name:-<strong>{{ formData.name }}</strong>
        </p>
        <p>
          user name:-<strong>{{ formData.password }}</strong>
        </p>
      </div>
    </div>
    <div class="col-md-4" *ngIf="toggle">
      <input placeholder="serach" type="text" [(ngModel)]="namesearch"/>
      <table class="table">
        <thead>
          <tr>
            <th>sl</th>
            <th>name</th>
            <th>password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of store | filter:namesearch  ; index as i  ">
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>  
            <td>{{ data.password }}</td>
            <td><button class="btn btn-danger"(click)="delete(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
